body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 860px;
  margin: 0 auto;
}

.text-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #0bbaf0;
  font-size: 36px;
}

.text-title-span {
  font-size: 24px;
}

.line {
  margin: 0px auto;
  margin-bottom: 35px;
  width: 130px;
}

/* .accordeon-wrapper {
  border: 1px solid #aaaaaa;
} */

/* .accordeon-section {
} */

.accordeon-header {
  padding: 10px;
  font-size: 23px;
  color: #ffffff;
  background-color: #0bbaf0;
  cursor: pointer;
}

.accordeon-header:hover {
  background-color: #4169e1;
}

.accordeon-body {
  display: block;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in;
}

.accordeon-text {
  margin: 0 auto;
  max-width: 845px;
  padding: 15px;
  text-align: left;
  font-size: 22px;
  color: #535353;
  border-radius: 0 0 10px 10px;
  border: 4px solid #dcdcdc;
  border-top: none;
}
