@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

.fonts-1 {
	font-family: 'Open Sans';
}

.fonts-2 {
	font-family: 'Bebas Neue';
	font-weight: 400;
}

.fonts-3 {
	font-family: 'Lato';
}

.fonts-4 {
	font-family: 'Lobster';
}